@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Exo:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Varela&family=Varela+Round&display=swap');
@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Changa One", sans-serif;
    --font-secondary: "Exo", sans-serif;
    --font-third: "Libre Baskerville", serif;
    --font-fourth: "Varela Round", sans-serif;
}

.hideScrollContainer::-webkit-scrollbar {
    display: none;
}

.bg-gradient-5-colors{
    background:linear-gradient(160deg, #afd9f5 2%, #aaa3c0 20%, #fffec1 40%, #aaa3c0 60%, #afd9f5 80%, #fffec1 100%);
    background-size: 120% 120%;
    animation: gradient 10s ease-in-out infinite;
    filter: hue-rotate(0deg);
}

.bg-gradient-5-colors::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: -1;
    animation: colorShift 7s ease-in-out infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes colorShift {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(140deg); /* Slight color shift */
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

.text-shadow{
    text-shadow: 10px 4px 12px rgba(0, 0, 0, 0.5);
}

.text-shadow-white{
    text-shadow: 7px 4px 12px rgba(190, 190, 190, 0.47);
}

.box-shadow{
    box-shadow:
            0px 4px 10px rgba(255, 255, 255, 0.6),
            -4px 4px 10px rgba(255, 255, 255, 0.6),
            0px -4px 10px rgba(255, 255, 255, 0.6);

}

@keyframes flying {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

@keyframes stretchingX {
    0%, 100% {
        transform: scaleX(90%);
    }
    50% {
        transform: scaleX(70%);
    }
}











